body {
  min-width: auto;
}

.jumbotron {
  padding-top: 10rem;
  background-color: #ffffff;
}

.skills {
  font-style: roboto;
  background-color: #f0ffff;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
}
canvas {
  max-width: 100%;
  max-height: 100%;
}
